{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <a href="{% url 'user-rents' object.posted_by.username %}"><img class="rounded-circle article-img" src="{{ object.posted_by.profile.image.url }}" alt=""></a>
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-rents' object.posted_by.username %}">{{ object.posted_by }}</a>
            <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
            {% if object.posted_by == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'rent-create' %}">New</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'rent-update' object.id %}">Update</a>
                    <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'rent-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.item_name }}</h2>
        <h2 class="article-title">${{ object.cost }}</h2>
        <div><img src="{{object.image.url}}" alt=""></div>
        <p class="article-content"> Description: {{ object.description }}</p>
        <p class="article-content"> Location: {{ object.location }}</p>
        <p class="article-content"> Contact: {{ object.contact }}</p>
        <p class="article-content"> Status: {%if object.rented %} Rented {% else %} for rent {% endif %}</p>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'rents' %}">List Items</a>
            </small>
        </div>
    </article>
{% endblock content %}