{% extends "blog/base.html" %}
{% block content %}
    <p>This is a Tegaru network site where Tegaru sel and buy goods and services, make connections or professional networking, promote their culture and values, support each other, etc,. Registration to the site could be make only by referal from a member to ensure security and privacy of the system and members, meaning, you have to get a referal code from an existing member that you are asked to provide up on registration.</p>
{% endblock content %}