{% extends "blog/base.html" %}
{% block content %}
    <h1>hulunet</h1>

    <P>

        Hulunet is a web app for everybody to share constructive ideas and opportunities and sell and buy goods/services. Brokers and/or sellers can post products for sale and make a deal directly on the  Hulunet app or any other platform.
        
        <h2>Hulunet: </h2>
        
        <p>the name coined from an amharic word Hulu meaning everyone and everything and an english word net which means networking. It is a network of everybody and everything.</p>
       
        <a href="{% url 'register' %}">Sign Up </a> for more engagements such as making posts, posting jobs, applying for a jobs and buy or sell products.</p>
{% endblock content %}
