{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <a href="{% url 'profile' %}"><img class="rounded-circle article-img" src="{{ job.posted_by.profile.image.url }}" alt=""></a>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'job-apply' object.id %}">Apply Here</a>
                <small class="text-muted">Apply from {{ object.date_posted | date:"F d, Y" }}</small>
                <small class="text-muted">To {{ object.date_end | date:"F d, Y" }}</small>
                {% if object.posted_by == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'job-new' %}">New</a>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'job-update' object.id %}">Update</a>
                        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'job-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.job_title }} By {{ object.organization }}</h2>
            <p class="article-content">{{ object.job_description }}</p>
        </div>
    </article>
{% endblock content %}