{% extends "blog/base.html" %}
{% block content %}
    <div class="article-metadata">
        Are you a recruiter? <a class="mr-2" href="{% url 'job-new' %}">Post New Job</a>
    </div>
    {% for job in jobs %}
        <article class="media content-section">
          <a href="{% url 'profile' %}"><img class="rounded-circle article-img" src="{{ job.posted_by.profile.image.url }}" alt=""></a>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'job-apply' job.id %}">Apply Here</a>
              <small class="text-muted"> from {{ job.date_posted | date:"F d, Y" }}</small>
              <small class="text-muted"> up to {{ job.date_end | date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'job-detail' job.id %}">{{ job.job_title }} Job By {{ job.organization }}</a></h2>
            <h2><a class="article-title" href="#"> Salary: {{ job.salary }}</a></h2>  
          </div>
        </article>
    {% endfor %}
{% endblock content %}